{include file="./public/common/admintop.html"/}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="__ROOT__/public/static/css/prodList.css" rel="stylesheet" type="text/css">
    <link href="__ROOT__/public/static/mdui/css/mdui.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="container" style="height: 90%"></div>
    <script src="__ROOT__/public/static/js/echarts.js"></script>
    <script type="text/javascript">

        var flowernum = {:json_encode($flowernum)};
        var shoplistnum = {:json_encode($shoplistnum)};
        var ordernum = {:json_encode($ordernum)};
        var membernum = {:json_encode($membernum)};
        var addnum = {:json_encode($addnum)};


        var dom = document.getElementById('container');
        var myChart = echarts.init(dom, null, {
            renderer: 'canvas',
            useDirtyRect: false
        });
        var app = {};

        var option;

        // prettier-ignore
        let dataAxis = ['商品', '购物车', '订单', '顾客', '地址'];
        // prettier-ignore
        let data = [flowernum, shoplistnum, ordernum, membernum, addnum];
        let yMax = 500;
        let dataShadow = [];
        for (let i = 0; i < data.length; i++) {
            dataShadow.push(yMax);
        }
        option = {
            // title: {
            //     text: '特性示例：渐变色 阴影 点击缩放',
            //     subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
            // },
            xAxis: {
                data: dataAxis,
                axisLabel: {
                    inside: true,
                    color: '#fff'
                },
                axisTick: {
                    show: false
                },
                axisLine: {
                    show: false
                },
                z: 10
            },
            yAxis: {
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                axisLabel: {
                    color: '#999'
                }
            },
            dataZoom: [
                {
                    type: 'inside'
                }
            ],
            series: [
                {
                    type: 'bar',
                    showBackground: true,
                    itemStyle: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                            { offset: 0, color: '#83bff6' },
                            { offset: 0.5, color: '#188df0' },
                            { offset: 1, color: '#188df0' }
                        ])
                    },
                    emphasis: {
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                { offset: 0, color: '#2378f7' },
                                { offset: 0.7, color: '#2378f7' },
                                { offset: 1, color: '#83bff6' }
                            ])
                        }
                    },
                    data: data
                }
            ]
        };
        // Enable data zoom when user click bar.
        const zoomSize = 6;
        myChart.on('click', function (params) {
            console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
            myChart.dispatchAction({
                type: 'dataZoom',
                startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
                endValue:
                    dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
            });
        });

        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);

        // var dom = document.getElementById('container');
        // var myChart = echarts.init(dom, null, {
        //     renderer: 'canvas',
        //     useDirtyRect: false
        // });
        // var app = {};

        // var option;

        // option = {
        //     xAxis: {
        //         type: 'category',
        //         data: ['商品', '购物车', '订单', '顾客', '地址']
        //     },
        //     yAxis: {
        //         type: 'value'
        //     },
        //     series: [
        //         {
        //             data: [flowernum, shoplistnum, ordernum, membernum, addnum],
        //             type: 'bar'
        //         }
        //     ]
        // };

        // if (option && typeof option === 'object') {
        //     myChart.setOption(option);
        // }

        // window.addEventListener('resize', myChart.resize);
    </script>
    <script src="__ROOT__/public/static/mdui/js/mdui.js"></script>
</body>