{include  file="./public/common/admintop.html"/}
<meta charset="utf-8">
<center>
<br>
<form action="{:url('adminlogin/doLogin')}" method="post" name=f>
<table style="width:480px; border-width:3px; border-style:dotted;">
<tr><td colspan=2 style="text-align:center;height:60px;">鲜花礼品网后台登录</td></tr>
<tr>
 <td style="text-align:right;height:30px;">用户名：</td>
<td align=left><input type=text name="username" value="admin"></td>
</tr>
<tr>
<td style="text-align:right;height:30px;">密码：</td>
<td align=left><input type="password" name="password" value="123"></td>
</tr>
<tr><td colspan=2 style="text-align:center;height:60px;">
<input type=submit name=s value="登录">
</td></tr>
</table>
</form>
</center>