{include file="./public/common/top.html"/}
<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<link href="__ROOT__/public/static/css/StyleIndex.css" rel="stylesheet" type="text/css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
	<meta name="renderer" content="webkit" />
	<meta name="force-rendering" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link href="__ROOT__/public/static/css/prodList.css" rel="stylesheet" type="text/css">
	<link href="__ROOT__/public/static/mdui/css/mdui.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="mdui-container mdui-center" style="margin-top: 50px;width: 600px;margin-bottom: 50px;">
		
		<p class="mdui-text-center">欢迎{$member.email}回来!
			我的积分 :{$member.jifen};
			账户余额：{$member.ye}</p>
		<form action="{:url('member/changpw')}" method="post" name="f1">
			<div class="mdui-card">
				<!-- 卡片的标题和副标题 -->
				<div class="mdui-text-center">
					<h1>修改密码</h1>
				</div>
				<div style="margin-left:10px;margin-right:10px">
					<div class="mdui-container-fluid">
						<div class="mdui-textfield">
							<label class="mdui-textfield-label">用户名</label>
							<input class="mdui-textfield-input" type="text" name="oldpassw" />
						</div>
						<div class="mdui-textfield">
							<label class="mdui-textfield-label">密码</label>
							<input class="mdui-textfield-input" type="password" name="newpassw1" />
						</div>
						<div class="mdui-textfield">
							<label class="mdui-textfield-label">密码</label>
							<input class="mdui-textfield-input" type="password" name="newpassw2" />
						</div>
					</div>
					<div class="mdui-card-actions">
						<input class="mdui-btn mdui-ripple mdui-center" type=submit name=s value="修改">
					</div>
				</div>
			</div>
		</form>

		<form action="{:url('member/changmember')}" method="post" name="f1">
			<div class="mdui-card">
				<!-- 卡片的标题和副标题 -->
				<div class="mdui-text-center">
					<h1>修改用户信息</h1>
				</div>
				<div style="margin-left:10px;margin-right:10px">
					<div class="mdui-container-fluid">
						<div class="mdui-textfield">
							<label class="mdui-textfield-label">姓名</label>
							<input class="mdui-textfield-input" type="text" name="mname" value="{$member.mname}" />
						</div>
						<div class="mdui-textfield">
							<label class="mdui-textfield-label">电话</label>
							<input class="mdui-textfield-input" type="text" name="mobile" value="{$member.mobile}" />
						</div>
						<div class="mdui-textfield">
							<label class="mdui-textfield-label">地址</label>
							<input class="mdui-textfield-input" type="text" size="30" name="address" value="{$member.address}" />
						</div>
					</div>
					<div class="mdui-card-actions">
						<input class="mdui-btn mdui-ripple mdui-center" type=submit name=s value="修改">
					</div>
				</div>
			</div>
		</form>

		<!-- <div class="two"></div>
			<div class="one"><br />修改密码<br /><br />
				<form action="{:url('member/changpw')}" method="post" name="f1">
					<table>
						<tr>
							<td>旧密码：</td>
							<td><input type="password" name="oldpassw"></td>
						</tr>
						<tr>
							<td>新密码:</td>
							<td><input type="password" name="newpassw1"></td>
						</tr>
						<tr>
							<td>确认密码:</td>
							<td><input type="password" name="newpassw2"></td>
						</tr>
						<tr>
							<td colspan="2"><input type="submit" name="s" value="修改"></td>
						</tr>
					</table>
				</form>
			</div>
		<div class="two"></div>
		<div class="three"><br />修改用户信息<br /><br />
			<form action="{:url('member/changmember')}" method="post" name="f1">
				<table>
					<tr>
						<td>姓名：</td>
						<td><input type="text" name="mname" value="{$member.mname}"></td>
					</tr>
					<tr>
						<td>电话:</td>
						<td><input type="text" name="mobile" value="{$member.mobile}"></td>
					</tr>
					<tr>
						<td>地址:</td>
						<td><input type="text" size="30" name="address" value="{$member.address}"></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" name="s" value="修改"></td>
					</tr>
				</table>
			</form>
		</div>
		<br />
		<br /><br /> -->
	</div>
</body>

</html>